<div id="splashbackground">

<div>
  <h2>Eventopedia</h2>
  <h1>find your next <%= ["adventure", "night out", "weekend", "escape", "vacation", "festival", "concert", "paradise"].sample %>.</h1>

  <%= link_to "Find", events_path %>
  <%= link_to "Create", new_event_path %>
</div>

</div>